<a href="https://www.kaggle.com/code/guyrux/state-of-data-suto-v0?scriptVersionId=134316106" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# State of Data Brazil 2022

Author: [**Gustavo Suto**](https://www.linkedin.com/in/gustavosuto/)

# Import libs

In [1]:
# !pip install feature-engine

In [2]:
import os
import regex as re

# Data manipulation
# from feature_engine.encoding import RareLabelEncoder, CountFrequencyEncoder
import pandas as pd
import numpy as np

# Visualizations
import plotly
import plotly.graph_objs as go
import plotly.offline as ply
plotly.offline.init_notebook_mode(connected=True)
import matplotlib as plt
import seaborn as sns

import missingno as msno
from ydata_profiling import ProfileReport

# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
    
%autoreload 2

# Options for pandas
# pd.options.display.max_columns = None
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.float_format', '{:.5f}'.format)

sns.set_context(context='paper', font_scale=1, rc=None)
sns.set_style("ticks")
sns.set_palette(sns.color_palette())

/opt/conda/lib/python3.10/site-packages/numba/core/decorators.py:262: NumbaDeprecationWarning:

numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.

/opt/conda/lib/python3.10/site-packages/visions/backends/shared/nan_handling.py:51: NumbaDeprecationWarning:

The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.

## Parameter definitions

In [3]:
RANDOM_STATE = 42

RAW_DATA = '/kaggle/input/state-of-data-2022/State_of_data_2022.csv'

## Loading data

In [4]:
df_raw = pd.read_csv(RAW_DATA)
display(df_raw.shape)

(4271, 353)

In [5]:
df_raw.tail(20)

,"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_1 ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_c ', 'Cor/raca/etnia')","('P1_d ', 'PCD')","('P1_e ', 'experiencia_profissional_prejudicada')","('P1_f ', 'aspectos_prejudicados')","('P1_g ', 'vive_no_brasil')","('P1_i ', 'Estado onde mora')","('P1_i_1 ', 'uf onde mora')","('P1_i_2 ', 'Regiao onde mora')","('P1_j ', 'Mudou de Estado?')","('P1_k ', 'Regiao de origem')","('P1_l ', 'Nivel de Ensino')","('P1_m ', 'Área de Formação')","('P2_a ', 'Qual sua situação atual de trabalho?')","('P2_b ', 'Setor')","('P2_c ', 'Numero de Funcionarios')","('P2_d ', 'Gestor?')","('P2_e ', 'Cargo como Gestor')","('P2_f ', 'Cargo Atual')","('P2_g ', 'Nivel')","('P2_h ', 'Faixa salarial')","('P2_i ', 'Quanto tempo de experiência na área de dados você tem?')","('P2_j ', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?')","('P2_k ', 'Você está satisfeito na sua empresa atual?')","('P2_l ', 'Qual o principal motivo da sua insatisfação com a empresa atual?')","('P2_l_1 ', 'Falta de oportunidade de crescimento no emprego atual')","('P2_l_2 ', 'Salário atual não corresponde ao mercado')","('P2_l_3 ', 'Não tenho uma boa relação com meu líder/gestor')","('P2_l_4 ', 'Gostaria de trabalhar em em outra área de atuação')","('P2_l_5 ', 'Gostaria de receber mais benefícios')","('P2_l_6 ', 'O clima de trabalho/ambiente não é bom')","('P2_l_7 ', 'Falta de maturidade analítica na empresa')","('P2_m ', 'Você participou de entrevistas de emprego nos últimos 6 meses?')","('P2_n ', 'Você pretende mudar de emprego nos próximos 6 meses?')","('P2_o ', 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?')","('P2_o_1 ', 'Remuneração/Salário')","('P2_o_2 ', 'Benefícios')","('P2_o_3 ', 'Propósito do trabalho e da empresa')","('P2_o_4 ', 'Flexibilidade de trabalho remoto')","('P2_o_5 ', 'Ambiente e clima de trabalho')","('P2_o_6 ', 'Oportunidade de aprendizado e trabalhar com referências na área')","('P2_o_7 ', 'Plano de carreira e oportunidades de crescimento profissional')","('P2_o_8 ', 'Maturidade da empresa em termos de tecnologia e dados')","('P2_o_9 ', 'Qualidade dos gestores e líderes')","('P2_o_10 ', 'Reputação que a empresa tem no mercado')","('P2_p ', 'Atualmente qual a sua forma de trabalho?')","('P2_q ', 'Qual a forma de trabalho ideal para você?')","('P2_r ', 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?')","('P2_s ', 'Sua empresa passu por Layoff em 2022?')","('P3_a ', 'Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?')","('P3_b ', 'Quais desses papéis/cargos fazem parte do time (ou chapter) de dados da sua empresa?')","('P3_b_1 ', 'Analytics Engineer')","('P3_b_2 ', 'Engenharia de Dados/Data Engineer')","('P3_b_3 ', 'Analista de Dados/Data Analyst')","('P3_b_4 ', 'Cientista de Dados/Data Scientist')","('P3_b_5 ', 'Database Administrator/DBA')","('P3_b_6 ', 'Analista de Business Intelligence/BI')","('P3_b_7 ', 'Arquiteto de Dados/Data Architect')","('P3_b_8 ', 'Data Product Manager/DPM')","('P3_b_9 ', 'Business Analyst')","('P3_c ', 'Quais dessas responsabilidades fazem parte da sua rotina atual de trabalho como gestor?')","('P3_c_1 ', 'Pensar na visão de longo prazo de dados da empresa e fortalecimento da cultura analítica da companhia.')","('P3_c_2 ', 'Organização de treinamentos e iniciativas com o objetivo de aumentar a maturidade analítica das áreas de negócios.')","('P3_c_3 ', 'Atração, seleção e contratação de talentos para o time de dados.')","('P3_c_4 ', 'Decisão sobre contratação de ferramentas e tecnologias relacionadas a dados.')","('P3_c_5 ', 'Sou gestor da equipe responsável pela engenharia de dados e por manter o Data Lake da empresa como fonte única dos dados, garantindo a qualidade e confiabilidade da informação.')","('P3_c_6 ', 'Sou gestor da equipe responsável pela entrega de dados, estudos, relatórios e dashboards para as áreas de negócio da empresa.')","('P3_c_7 ', 'Sou gestor da equipe responsável por iniciativas e projetos envolvendo Inteligência Artificial e Machine Learning.')","('P3_c_8 ', 'Apesar de ser gestor ainda atuo na parte técnica, construindo soluções/análises/modelos etc.')","('P3_c_9 ', 'Gestão de projetos de dados, cuidando das etapas, equipes envolvidas, atingimento dos objetivos etc.')","('P3_c_10 ', 'Gestão de produtos de dados, cuidando da visão dos produtos, backlog, feedback de usuários etc.')","('P3_c_11 ', 'Gestão de pessoas, apoio no desenvolvimento das pessoas, evolução de carreira')","('P3_d ', 'Quais são os 3 maiores desafios que você tem como gestor no atual momento?')","('P3_d_1 ', 'a Contratar novos talentos.')","('P3_d_2 ', 'b Reter talentos.')","('P3_d_3 ', 'c Convencer a empresa a aumentar os investimentos na área de dados.')","('P3_d_4 ', 'd Gestão de equipes no ambiente remoto.')","('P3_d_5 ', 'e Gestão de projetos envolvendo áreas multidisciplinares da empresa.')","('P3_d_6 ', 'f Organizar as informações e garantir a qualidade e confiabilidade.')","('P3_d_7 ', 'g Conseguir processar e armazenar um alto volume de dados.')","('P3_d_8 ', 'h Conseguir gerar valor para as áreas de negócios através de estudos e experimentos.')","('P3_d_9 ', 'i Desenvolver e manter modelos Machine Learning em produção.')","('P3_d_10 ', 'j Gerenciar a expectativa das áreas de negócio em relação as entregas das equipes de dados.')","('P3_d_11 ', 'k Garantir a manutenção dos projetos e modelos em produção, em meio ao crescimento da empresa.')","('P3_d_12 ', 'Conseguir levar inovação para a empresa através dos dados.')","('P3_d_13 ', 'Garantir retorno do investimento (ROI) em projetos de dados.')","('P3_d_14 ', 'Dividir o tempo entre entregas técnicas e gestão.')","('P4_a ', 'Mesmo que esse não seja seu cargo formal, você considera que sua atuação no dia a dia, reflete alguma das opções listadas abaixo?')","('P4_a_1 ', 'Atuacao')","('P4_b ', 'Quais das fontes de dados listadas você já analisou ou processou no trabalho?')","('P4_b_1 ', 'Dados relacionais (estruturados em bancos SQL)')","('P4_b_2 ', 'Dados armazenados em bancos NoSQL')","('P4_b_3 ', 'Imagens')","('P4_b_4 ', 'Textos/Documentos')","('P4_b_5 ', 'Vídeos')","('P4_b_6 ', 'Áudios')","('P4_b_7 ', 'Planilhas')","('P4_b_8 ', 'Dados georeferenciados')","('P4_c ', 'Entre as fontes de dados listadas, quais você utiliza na maior parte do tempo?')","('P4_c_1 ', 'Dados relacionais (estruturados em bancos SQL)')","('P4_c_2 ', 'Dados armazenados em bancos NoSQL')","('P4_c_3 ', 'Imagens')","('P4_c_4 ', 'Textos/Documentos')","('P4_c_5 ', 'Vídeos')","('P4_c_6 ', 'Áudios')","('P4_c_7 ', 'Planilhas')","('P4_c_8 ', 'Dados georeferenciados')","('P4_d ', 'Quais das linguagens listadas abaixo você utiliza no trabalho?')","('P4_d_1 ', 'SQL')","('P4_d_2 ', 'R ')","('P4_d_3 ', 'Python')","('P4_d_4 ', 'C/C++/C#')","('P4_d_5 ', '.NET')","('P4_d_6 ', 'Java')","('P4_d_7 ', 'Julia')","('P4_d_8 ', 'SAS/Stata')","('P4_d_9 ', 'Visual Basic/VBA')","('P4_d_10 ', 'Scala')","('P4_d_11 ', 'Matlab')","('P4_d_12 ', 'PHP')","('P4_d_13 ', 'Javascript')","('P4_d_14 ', 'Não utilizo nenhuma linguagem')","('P4_e ', 'Entre as linguagens listadas abaixo, qual é a que você mais utiliza no trabalho?')","('P4_f ', 'Entre as linguagens listadas abaixo, qual é a sua preferida?')","('P4_g ', 'Quais dos bancos de dados/fontes de dados listados abaixo você utiliza no trabalho?')","('P4_g_1 ', 'MySQL')","('P4_g_2 ', 'Oracle')","('P4_g_3 ', 'SQL SERVER')","('P4_f_4 ', 'Amazon Aurora ou RDS')","('P4_f_5 ', 'DynamoDB')","('P4_f_6 ', 'CoachDB')","('P4_f_7 ', 'Cassandra')","('P4_f_8 ', 'MongoDB')","('P4_f_9 ', 'MariaDB')","('P4_f_10 ', 'Datomic')","('P4_f_11 ', 'S3')","('P4_f_12 ', 'PostgreSQL')","('P4_f_13 ', 'ElasticSearch')","('P4_f_14 ', 'DB2')","('P4_f_15 ', 'Microsoft Access')","('P4_f_16 ', 'SQLite')","('P4_f_17 ', 'Sybase')","('P4_f_18 ', 'Firebase')","('P4_f_19 ', 'Vertica')","('P4_f_20 ', 'Redis')","('P4_f_21 ', 'Neo4J')","('P4_f_22 ', 'Google BigQuery')","('P4_f_23 ', 'Google Firestore')","('P4_f_24 ', 'Amazon Redshift')","('P4_f_25 ', 'Amazon Athena')","('P4_f_26 ', 'Snowflake')","('P4_f_27 ', 'Databricks')","('P4_f_28 ', 'HBase')","('P4_f_29 ', 'Presto')","('P4_f_30 ', 'Splunk')","('P4_f_31 ', 'SAP HANA')","('P4_f_32 ', 'Hive')","('P4_f_33 ', 'Firebird')","('P4_g ', 'Quais das opções de Cloud listadas abaixo você utiliza no trabalho?')","('P4_h ', 'Dentre as opções listadas, qual sua Cloud preferida?')","('P4_h_1 ', 'Azure (Microsoft)')","('P4_h_2 ', 'Amazon Web Services (AWS)')","('P4_h_3 ', 'Google Cloud (GCP)')","('P4_i ', 'Microsoft PowerBI')","('P4_i_1 ', 'Microsoft PowerBI')","('P4_i_2 ', 'Qlik View/Qlik Sense')","('P4_i_3 ', 'Tableau')","('P4_i_4 ', 'Metabase')","('P4_i_5 ', 'Superset')","('P4_i_6 ', 'Redash')","('P4_i_7 ', 'MicroStrategy')","('P4_i_8 ', 'IBM Analytics/Cognos')","('P4_i_9 ', 'SAP Business Objects')","('P4_i_10 ', 'Oracle Business Intelligence')","('P4_i_11 ', 'Amazon QuickSight')","('P4_i_12 ', 'Salesforce/Einstein Analytics')","('P4_i_13 ', 'Mode')","('P4_i_14 ', 'Alteryx')","('P4_i_15 ', 'Birst')","('P4_i_16 ', 'Looker')","('P4_i_17 ', 'Google Data Studio')","('P4_i_18 ', 'SAS Visual Analytics')","('P4_i_19 ', 'Grafana')","('P4_i_20 ', 'TIBCO Spotfire')","('P4_i_21 ', 'Pentaho')","('P4_i_22 ', 'Fazemos todas as análises utilizando apenas Excel ou planilhas do google')","('P4_i_23 ', 'Não utilizo nenhuma ferramenta de BI no trabalho')","('P5_a ', 'Qual seu objetivo na área de dados?')","('P5_b ', 'Qual oportunidade você está buscando?')","('P5_c ', 'Há quanto tempo você busca uma oportunidade na área de dados?')","('P5_d ', 'Como tem sido a busca por um emprego na área de dados?')","('P6_a ', 'Quais das opções abaixo fazem parte da sua rotina no trabalho atual como engenheiro de dados?')","('P6_a_1 ', 'Desenvolvo pipelines de dados utilizando linguagens de programação como Python, Scala, Java etc.')","('P6_a_2 ', 'Realizo construções de ETL's em ferramentas como Pentaho, Talend, Dataflow etc.')","('P6_a_3 ', 'Crio consultas através da linguagem SQL para exportar informações e compartilhar com as áreas de negócio.')","('P6_a_4 ', 'Atuo na integração de diferentes fontes de dados através de plataformas proprietárias como Stitch Data, Fivetran etc.')","('P6_a_5 ', 'Modelo soluções de arquitetura de dados, criando componentes de ingestão de dados, transformação e recuperação da informação.')","('P6_a_6 ', 'Desenvolvo/cuido da manutenção de repositórios de dados baseados em streaming de eventos como Data Lakes e Data Lakehouses.')","('P6_a_7 ', 'Atuo na modelagem dos dados, com o objetivo de criar conjuntos de dados como Data Warehouses, Data Marts etc.')","('P6_a_8 ', 'Cuido da qualidade dos dados, metadados e dicionário de dados.')","('P6_a_9 ', 'Nenhuma das opções listadas refletem meu dia a dia.')","('P6_b ', 'Quais as ferramentas/tecnologias de ETL que você utiliza no trabalho como Data Engineer?')","('P6_b_1 ', 'Scripts Python')","('P6_b_2 ', 'SQL & Stored Procedures')","('P6_b_3 ', 'Apache Airflow')","('P6_b_4 ', 'Luigi')","('P6_b_5 ', 'AWS Glue')","('P6_b_6 ', 'Talend')","('P6_b_7 ', 'Pentaho')","('P6_b_8 ', 'Alteryx')","('P6_b_9 ', 'Stitch')","('P6_b_10 ', 'Fivetran')","('P6_b_11 ', 'Google Dataflow')","('P6_b_12 ', 'Oracle Data Integrator')","('P6_b_13 ', 'IBM DataStage')","('P6_b_14 ', 'SAP BW ETL')","('P6_b_15 ', 'SQL Server Integration Services (SSIS)')","('P6_b_16 ', 'SAS Data Integration')","('P6_b_17 ', 'Qlik Sense')","('P6_b_18 ', 'Knime')","('P6_b_19 ', 'Databricks')","('P6_b_19 ', 'Não utilizo ferramentas de ETL')","('P6_c ', 'Sua organização possui um Data Lake?')","('P6_d ', 'Qual tecnologia utilizada como plataforma do Data Lake?')","('P6_e ', 'Sua organização possui um Data Warehouse?')","('P6_f ', 'Qual tecnologia utilizada como plataforma do Data Warehouse?')","('P6_g ', 'Quais as ferramentas de gestão de Qualidade de dados, Metadados e catálogo de dados você utiliza no trabalho?')","('P6_g_1 ', 'great_expectations')","('P6_g_2 ', 'dbt')","('P6_g_3 ', 'AWS Deequ')","('P6_g_4 ', 'Apache Griffin')","('P6_g_5 ', 'Datafold')","('P6_g_6 ', 'Amundsen')","('P6_g_7 ', 'Monte Carlo')","('P6_g_8 ', 'SODA')","('P6_g_9 ', 'Big Eye')","('P6_g_10 ', 'Data Band')","('P6_g_11 ', 'Anomalo')","('P6_g_l ', 'Metaplane')","('P6_g_m ', 'Acceldata')","('P6_h ', 'Em qual das opções abaixo você gasta a maior parte do seu tempo?')","('P6_h_1 ', 'Desenvolvendo pipelines de dados utilizando linguagens de programação como Python, Scala, Java etc.')","('P6_h_2 ', 'Realizando construções de ETL's em ferramentas como Pentaho, Talend, Dataflow etc.')","('P6_h_3 ', 'Criando consultas através da linguagem SQL para exportar informações e compartilhar com as áreas de negócio.')","('P6_h_4 ', 'Atuando na integração de diferentes fontes de dados através de plataformas proprietárias como Stitch Data, Fivetran etc.')","('P6_h_5 ', 'Modelando soluções de arquitetura de dados, criando componentes de ingestão de dados, transformação e recuperação da informação.')","('P6_h_6 ', 'Desenvolvendo/cuidando da manutenção de repositórios de dados baseados em streaming de eventos como Data Lakes e Data Lakehouses.')","('P6_h_7 ', 'Atuando na modelagem dos dados, com o objetivo de criar conjuntos de dados como Data Warehouses, Data Marts etc.')","('P6_h_8 ', 'Cuidando da qualidade dos dados, metadados e dicionário de dados.')","('P6_h_9 ', 'Nenhuma das opções listadas refletem meu dia a dia.')","('P7_1 ', 'Quais das opções abaixo fazem parte da sua rotina no trabalho atual com análise de dados?')","('P7_a_1 ', 'Processo e analiso dados utilizando linguagens de programação como Python, R etc.')","('P7_a_2 ', 'Realizo construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik etc.')","('P7_a_3 ', 'Crio consultas através da linguagem SQL para exportar informações e compartilhar com as áreas de negócio.')","('P7_a_4 ', 'Utilizo API's para extrair dados e complementar minhas análises.')","('P7_a_5 ', 'Realizo experimentos e estudos utilizando metodologias estatísticas como teste de hipótese, modelos de regressão etc.')","('P7_a_6 ', 'Desenvolvo/cuido da manutenção de ETL's utilizando tecnologias como Talend, Pentaho, Airflow, Dataflow etc.')","('P7_a_7 ', 'Atuo na modelagem dos dados, com o objetivo de criar conjuntos de dados, Data Warehouses, Data Marts etc.')","('P7_a_8 ', 'Desenvolvo/cuido da manutenção de planilhas para atender as áreas de negócio.')","('P7_a_9 ', 'Utilizo ferramentas avançadas de estatística como SAS')","('P7_a_10 ', 'Nenhuma das opções listadas refletem meu dia a dia.')","('P7_b ', 'Quais as ferramentas/tecnologias de ETL que você utiliza no trabalho como Data Analyst?')","('P7_b_1 ', 'Scripts Python')","('P7_b_2 ', 'SQL & Stored Procedures')","('P7_b_3 ', 'Apache Airflow')","('P7_b_4 ', 'Luigi')","('P7_b_5 ', 'AWS Glue')","('P7_b_6 ', 'Talend')","('P7_b_7 ', 'Pentaho')","('P7_b_8 ', 'Alteryx')","('P7_b_9 ', 'Stitch')","('P7_b_10 ', 'Fivetran')","('P7_b_11 ', 'Google Dataflow')","('P7_b_12 ', 'Oracle Data Integrator')","('P7_b_13 ', 'IBM DataStage')","('P7_b_14 ', 'SAP BW ETL')","('P7_b_15 ', 'SQL Server Integration Services (SSIS)')","('P7_b_16 ', 'SAS Data Integration')","('P7_b_17 ', 'Qlik Sense')","('P7_b_18 ', 'Knime')","('P7_b_19 ', 'Databricks')","('P7_b_20 ', 'Não utilizo ferramentas de ETL')","('P7_c ', 'Sua empresa utiliza alguma das ferramentas listadas para dar mais autonomia em análise de dados para as áreas de negócio?')","('P7_c_1 ', 'Ferramentas de AutoML como H2O.ai, Data Robot, BigML etc.')","('P7_c_2 ', '""""Point and Click"""" Analytics como Alteryx, Knime, Rapidminer etc.')","('P7_c_3 ', 'Product metricts & Insights como Mixpanel, Amplitude, Adobe Analytics.')","('P7_c_4 ', 'Ferramentas de análise dentro de ferramentas de CRM como Salesforce Einstein Anaytics ou Zendesk dashboards.')","('P7_c_5 ', 'Minha empresa não utiliza essas ferramentas.')","('P7_c_6 ', 'Não sei informar.')","('P7_d ', 'Em qual das opções abaixo você gasta a maior parte do seu tempo de trabalho?')","('P7_d_1 ', 'Processando e analisando dados utilizando linguagens de programação como Python, R etc.')","('P7_d_2 ', 'Realizando construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik etc.')","('P7_d_3 ', 'Criando consultas através da linguagem SQL para exportar informações e compartilhar com as áreas de negócio.')","('P7_d_4 ', 'Utilizando API's para extrair dados e complementar minhas análises.')","('P7_d_5 ', 'Realizando experimentos e estudos utilizando metodologias estatísticas como teste de hipótese, modelos de regressão etc.')","('P7_d_6 ', 'Desenvolvendo/cuidando da manutenção de ETL's utilizando tecnologias como Talend, Pentaho, Airflow, Dataflow etc.')","('P7_d_7 ', 'Atuando na modelagem dos dados, com o objetivo de criar conjuntos de dados, Data Warehouses, Data Marts etc.')","('P7_d_8 ', 'Desenvolvendo/cuidando da manutenção de planilhas do Excel ou Google Sheets para atender as áreas de negócio.')","('P7_d_9 ', 'Utilizando ferramentas avançadas de estatística como SAS, SPSS, Stata etc, para realizar análises.')","('P7_d_10 ', 'Nenhuma das opções listadas refletem meu dia a dia.')","('P8_a ', 'Quais das opções abaixo fazem parte da sua rotina no trabalho atual com ciência de dados?')","('P8_a_1 ', 'Estudos Ad-hoc com o objetivo de confirmar hipóteses, realizar modelos preditivos, forecasts, análise de cluster para resolver problemas pontuais e responder perguntas das áreas de negócio.')","('P8_a_2 ', 'Sou responsável pela coleta e limpeza dos dados que uso para análise e modelagem.')","('P8_a_3 ', 'Sou responsável por entrar em contato com os times de negócio para definição do problema, identificar a solução e apresentação de resultados.')","('P8_a_4 ', 'Desenvolvo modelos de Machine Learning com o objetivo de colocar em produção em sistemas (produtos de dados).')","('P8_a_5 ', 'Sou responsável por colocar modelos em produção, criar os pipelines de dados, APIs de consumo e monitoramento.')","('P8_a_6 ', 'Cuido da manutenção de modelos de Machine Learning já em produção, atuando no monitoramento, ajustes e refatoração quando necessário.')","('P8_a_7 ', 'Realizo construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik, etc')","('P8_a_8 ', 'Utilizo ferramentas avançadas de estatística como SAS, SPSS, Stata etc, para realizar análises estatísticas e ajustar modelos.Crio e dou manutenção em ETLs, DAGs e automações de pipelines de dados.')","('P8_a_9 ', 'Crio e dou manutenção em ETLs, DAGs e automações de pipelines de dados.')","('P8_a_10 ', 'Crio e gerencio soluções de Feature Store e cultura de MLOps.')","('P8_a_11 ', 'Sou responsável por criar e manter a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')","('P8_b ', 'Quais as técnicas e métodos listados abaixo você costuma utilizar no trabalho?')","('P8_b_1 ', 'Utilizo modelos de regressão (linear, logística, GLM)')","('P8_b_2 ', 'Utilizo redes neurais ou modelos baseados em árvore para criar modelos de classificação')","('P8_b_3 ', 'Desenvolvo sistemas de recomendação (RecSys)')","('P8_b_4 ', 'Utilizo métodos estatísticos Bayesianos para analisar dados')","('P8_b_5 ', 'Utilizo técnicas de NLP (Natural Language Processing) para análisar dados não-estruturados')","('P8_b_6 ', 'Utilizo métodos estatísticos clássicos (Testes de hipótese, análise multivariada, sobrevivência, dados longitudinais, inferência estatistica) para analisar dados')","('P8_b_7 ', 'Utilizo cadeias de Markov ou HMM's para realizar análises de dados')","('P8_b_8 ', 'Desenvolvo técnicas de Clusterização (K-means, Spectral, DBScan etc)')","('P8_b_9 ', 'Realizo previsões através de modelos de Séries Temporais (Time Series)')","('P8_b_10 ', 'Utilizo modelos de Reinforcement Learning (aprendizado por reforço)')","('P8_b_11 ', 'Utilizo modelos de Machine Learning para detecção de fraude')","('P8_b_l ', 'Utilizo métodos de Visão Computacional')","('P8_b_m 

In [6]:
lst_columns = []

for column in df_raw.columns:
    print(column, type(column), len(column), re.sub("[^A-Za-z0-9 ,]+", '', column).strip().split(','))

('P0', 'id') <class 'str'> 12 ['P0', ' id']
('P1_a ', 'Idade') <class 'str'> 18 ['P1a ', ' Idade']
('P1_a_1 ', 'Faixa idade') <class 'str'> 26 ['P1a1 ', ' Faixa idade']
('P1_b ', 'Genero') <class 'str'> 19 ['P1b ', ' Genero']
('P1_c ', 'Cor/raca/etnia') <class 'str'> 27 ['P1c ', ' Corracaetnia']
('P1_d ', 'PCD') <class 'str'> 16 ['P1d ', ' PCD']
('P1_e ', 'experiencia_profissional_prejudicada') <class 'str'> 49 ['P1e ', ' experienciaprofissionalprejudicada']
('P1_f ', 'aspectos_prejudicados') <class 'str'> 34 ['P1f ', ' aspectosprejudicados']
('P1_g ', 'vive_no_brasil') <class 'str'> 27 ['P1g ', ' vivenobrasil']
('P1_i ', 'Estado onde mora') <class 'str'> 29 ['P1i ', ' Estado onde mora']
('P1_i_1 ', 'uf onde mora') <class 'str'> 27 ['P1i1 ', ' uf onde mora']
('P1_i_2 ', 'Regiao onde mora') <class 'str'> 31 ['P1i2 ', ' Regiao onde mora']
('P1_j ', 'Mudou de Estado?') <class 'str'> 29 ['P1j ', ' Mudou de Estado']
('P1_k ', 'Regiao de origem') <class 'str'> 29 ['P1k ', ' Regiao de origem']
('P1_l ', 'Nivel de Ensino') <class 'str'> 28 ['P1l ', ' Nivel de Ensino']
('P1_m ', 'Área de Formação') <class 'str'> 29 ['P1m ', ' rea de Formao']
('P2_a ', 'Qual sua situação atual de trabalho?') <class 'str'> 49 ['P2a ', ' Qual sua situao atual de trabalho']
('P2_b ', 'Setor') <class 'str'> 18 ['P2b ', ' Setor']
('P2_c ', 'Numero de Funcionarios') <class 'str'> 35 ['P2c ', ' Numero de Funcionarios']
('P2_d ', 'Gestor?') <class 'str'> 20 ['P2d ', ' Gestor']
('P2_e ', 'Cargo como Gestor') <class 'str'> 30 ['P2e ', ' Cargo como Gestor']
('P2_f ', 'Cargo Atual') <class 'str'> 24 ['P2f ', ' Cargo Atual']
('P2_g ', 'Nivel') <class 'str'> 18 ['P2g ', ' Nivel']
('P2_h ', 'Faixa salarial') <class 'str'> 27 ['P2h ', ' Faixa salarial']
('P2_i ', 'Quanto tempo de experiência na área de dados você tem?') <class 'str'> 67 ['P2i ', ' Quanto tempo de experincia na rea de dados voc tem']
('P2_j ', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?') <class 'str'> 134 ['P2j ', ' Quanto tempo de experincia na rea de TIEngenharia de Software voc teve antes de comear a trabalhar na rea de dados']
('P2_k ', 'Você está satisfeito na sua empresa atual?') <class 'str'> 55 ['P2k ', ' Voc est satisfeito na sua empresa atual']
('P2_l ', 'Qual o principal motivo da sua insatisfação com a empresa atual?') <class 'str'> 77 ['P2l ', ' Qual o principal motivo da sua insatisfao com a empresa atual']
('P2_l_1 ', 'Falta de oportunidade de crescimento no emprego atual') <class 'str'> 68 ['P2l1 ', ' Falta de oportunidade de crescimento no emprego atual']
('P2_l_2 ', 'Salário atual não corresponde ao mercado') <class 'str'> 55 ['P2l2 ', ' Salrio atual no corresponde ao mercado']
('P2_l_3 ', 'Não tenho uma boa relação com meu líder/gestor') <class 'str'> 61 ['P2l3 ', ' No tenho uma boa relao com meu ldergestor']
('P2_l_4 ', 'Gostaria de trabalhar em em outra área de atuação') <class 'str'> 64 ['P2l4 ', ' Gostaria de trabalhar em em outra rea de atuao']
('P2_l_5 ', 'Gostaria de receber mais benefícios') <class 'str'> 50 ['P2l5 ', ' Gostaria de receber mais benefcios']
('P2_l_6 ', 'O clima de trabalho/ambiente não é bom') <class 'str'> 53 ['P2l6 ', ' O clima de trabalhoambiente no  bom']
('P2_l_7 ', 'Falta de maturidade analítica na empresa') <class 'str'> 55 ['P2l7 ', ' Falta de maturidade analtica na empresa']
('P2_m ', 'Você participou de entrevistas de emprego nos últimos 6 meses?') <class 'str'> 75 ['P2m ', ' Voc participou de entrevistas de emprego nos ltimos 6 meses']
('P2_n ', 'Você pretende mudar de emprego nos próximos 6 meses?') <class 'str'> 65 ['P2n ', ' Voc pretende mudar de emprego nos prximos 6 meses']
('P2_o ', 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?') <class 'str'> 110 ['P2o ', ' Quais os principais critrios que voc leva em considerao no momento de decidir onde trabalhar']
('P2_o_1 ', 'Remuneração/Salário') <class 'str'> 34 ['P2o1 ', ' RemuneraoSalrio']
('P2_o_2 ', 'Benefícios') <class 'str'> 25 ['P2o2 ', ' Benefcios']
('P2_o_3 ', 'Propósito do trabalho e da empresa') <class 'str'> 49 ['P2o3 ', ' Propsito do trabalho e da empresa']
('P2_o_4 ', 'Flexibilidade de trabalho remoto') <class 'str'> 47 ['P2o4 ', ' Flexibilidade de trabalho remoto']
('P2_o_5 ', 'Ambiente e clima de trabalho') <class 'str'> 43 ['P2o5 ', ' Ambiente e clima de trabalho']
('P2_o_6 ', 'Oportunidade de aprendizado e trabalhar com referências na área') <class 'str'> 78 ['P2o6 ', ' Oportunidade de aprendizado e trabalhar com referncias na rea']
('P2_o_7 ', 'Plano de carreira e oportunidades de crescimento profissional') <class 'str'> 76 ['P2o7 ', ' Plano de carreira e oportunidades de crescimento profissional']
('P2_o_8 ', 'Maturidade da empresa em termos de tecnologia e dados') <class 'str'> 68 ['P2o8 ', ' Maturidade da empresa em termos de tecnologia e dados']
('P2_o_9 ', 'Qualidade dos gestores e líderes') <class 'str'> 47 ['P2o9 ', ' Qualidade dos gestores e lderes']
('P2_o_10 ', 'Reputação que a empresa tem no mercado') <class 'str'> 54 ['P2o10 ', ' Reputao que a empresa tem no mercado']
('P2_p ', 'Atualmente qual a sua forma de trabalho?') <class 'str'> 53 ['P2p ', ' Atualmente qual a sua forma de trabalho']
('P2_q ', 'Qual a forma de trabalho ideal para você?') <class 'str'> 54 ['P2q ', ' Qual a forma de trabalho ideal para voc']
('P2_r ', 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?') <class 'str'> 87 ['P2r ', ' Caso sua empresa decida pelo modelo 100 presencial qual ser sua atitude']
('P2_s ', 'Sua empresa passu por Layoff em 2022?') <class 'str'> 50 ['P2s ', ' Sua empresa passu por Layoff em 2022']
('P3_a ', 'Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?') <class 'str'> 89 ['P3a ', ' Qual o nmero aproximado de pessoas que atuam com dados na sua empresa hoje']
('P3_b ', 'Quais desses papéis/cargos fazem parte do time (ou chapter) de dados da sua empresa?') <class 'str'> 97 ['P3b ', ' Quais desses papiscargos fazem parte do time ou chapter de dados da sua empresa']
('P3_b_1 ', 'Analytics Engineer') <class 'str'> 33 ['P3b1 ', ' Analytics Engineer']
('P3_b_2 ', 'Engenharia de Dados/Data Engineer') <class 'str'> 48 ['P3b2 ', ' Engenharia de DadosData Engineer']
('P3_b_3 ', 'Analista de Dados/Data Analyst') <class 'str'> 45 ['P3b3 ', ' Analista de DadosData Analyst']
('P3_b_4 ', 'Cientista de Dados/Data Scientist') <class 'str'> 48 ['P3b4 ', ' Cientista de DadosData Scientist']
('P3_b_5 ', 'Database Administrator/DBA') <class 'str'> 41 ['P3b5 ', ' Database AdministratorDBA']
('P3_b_6 ', 'Analista de Business Intelligence/BI') <class 'str'> 51 ['P3b6 ', ' Analista de Business IntelligenceBI']
('P3_b_7 ', 'Arquiteto de Dados/Data Architect') <class 'str'> 48 ['P3b7 ', ' Arquiteto de DadosData Architect']
('P3_b_8 ', 'Data Product Manager/DPM') <class 'str'> 39 ['P3b8 ', ' Data Product ManagerDPM']
('P3_b_9 ', 'Business Analyst') <class 'str'> 31 ['P3b9 ', ' Business Analyst']
('P3_c ', 'Quais dessas responsabilidades fazem parte da sua rotina atual de trabalho como gestor?') <class 'str'> 100 ['P3c ', ' Quais dessas responsabilidades fazem parte da sua rotina atual de trabalho como gestor']
('P3_c_1 ', 'Pensar na visão de longo prazo de dados da empresa e fortalecimento da cultura analítica da companhia.') <class 'str'> 117 ['P3c1 ', ' Pensar na viso de longo prazo de dados da empresa e fortalecimento da cultura analtica da companhia']
('P3_c_2 ', 'Organização de treinamentos e iniciativas com o objetivo de aumentar a maturidade analítica das áreas de negócios.') <class 'str'> 129 ['P3c2 ', ' Organizao de treinamentos e iniciativas com o objetivo de aumentar a maturidade analtica das reas de negcios']
('P3_c_3 ', 'Atração, seleção e contratação de talentos para o time de dados.') <class 'str'> 79 ['P3c3 ', ' Atrao', ' seleo e contratao de talentos para o time de dados']
('P3_c_4 ', 'Decisão sobre contratação de ferramentas e tecnologias relacionadas a dados.') <class 'str'> 91 ['P3c4 ', ' Deciso sobre contratao de ferramentas e tecnologias relacionadas a dados']
('P3_c_5 ', 'Sou gestor da equipe responsável pela engenharia de dados e por manter o Data Lake da empresa como fonte única dos dados, garantindo a qualidade e confiabilidade da informação.') <class 'str'> 191 ['P3c5 ', ' Sou gestor da equipe responsvel pela engenharia de dados e por manter o Data Lake da empresa como fonte nica dos dados', ' garantindo a qualidade e confiabilidade da informao']
('P3_c_6 ', 'Sou gestor da equipe responsável pela entrega de dados, estudos, relatórios e dashboards para as áreas de negócio da empresa.') <class 'str'> 140 ['P3c6 ', ' Sou gestor da equipe responsvel pela entrega de dados', ' estudos', ' relatrios e dashboards para as reas de negcio da empresa']
('P3_c_7 ', 'Sou gestor da equipe responsável por iniciativas e projetos envolvendo Inteligência Artificial e Machine Learning.') <class 'str'> 129 ['P3c7 ', ' Sou gestor da equipe responsvel por iniciativas e projetos envolvendo Inteligncia Artificial e Machine Learning']
('P3_c_8 ', 'Apesar de ser gestor ainda atuo na parte técnica, construindo soluções/análises/modelos etc.') <class 'str'> 107 ['P3c8 ', ' Apesar de ser gestor ainda atuo na parte tcnica', ' construindo soluesanlisesmodelos etc']
('P3_c_9 ', 'Gestão de projetos de dados, cuidando das etapas, equipes envolvidas, atingimento dos objetivos etc.') <class 'str'> 115 ['P3c9 ', ' Gesto de projetos de dados', ' cuidando das etapas', ' equipes envolvidas', ' atingimento dos objetivos etc']
('P3_c_10 ', 'Gestão de produtos de dados, cuidando da visão dos produtos, backlog, feedback de usuários etc.') <class 'str'> 111 ['P3c10 ', ' Gesto de produtos de dados', ' cuidando da viso dos produtos', ' backlog', ' feedback de usurios etc']
('P3_c_11 ', 'Gestão de pessoas, apoio no desenvolvimento das pessoas, evolução de carreira') <class 'str'> 93 ['P3c11 ', ' Gesto de pessoas', ' apoio no desenvolvimento das pessoas', ' evoluo de carreira']
('P3_d ', 'Quais são os 3 maiores desafios que você tem como gestor no atual momento?') <class 'str'> 87 ['P3d ', ' Quais so os 3 maiores desafios que voc tem como gestor no atual momento']
('P3_d_1 ', 'a Contratar novos talentos.') <class 'str'> 42 ['P3d1 ', ' a Contratar novos talentos']
('P3_d_2 ', 'b Reter talentos.') <class 'str'> 32 ['P3d2 ', ' b Reter talentos']
('P3_d_3 ', 'c Convencer a empresa a aumentar os investimentos na área de dados.') <class 'str'> 82 ['P3d3 ', ' c Convencer a empresa a aumentar os investimentos na rea de dados']
('P3_d_4 ', 'd Gestão de equipes no ambiente remoto.') <class 'str'> 54 ['P3d4 ', ' d Gesto de equipes no ambiente remoto']
('P3_d_5 ', 'e Gestão de projetos envolvendo áreas multidisciplinares da empresa.') <class 'str'> 83 ['P3d5 ', ' e Gesto de projetos envolvendo reas multidisciplinares da empresa']
('P3_d_6 ', 'f Organizar as informações e garantir a qualidade e confiabilidade.') <class 'str'> 82 ['P3d6 ', ' f Organizar as informaes e garantir a qualidade e confiabilidade']
('P3_d_7 ', 'g Conseguir processar e armazenar um alto volume de dados.') <class 'str'> 73 ['P3d7 ', ' g Conseguir processar e armazenar um alto volume de dados']
('P3_d_8 ', 'h Conseguir gerar valor para as áreas de negócios através de estudos e experimentos.') <class 'str'> 99 ['P3d8 ', ' h Conseguir gerar valor para as reas de negcios atravs de estudos e experimentos']
('P3_d_9 ', 'i Desenvolver e manter modelos Machine Learning em produção.') <class 'str'> 75 ['P3d9 ', ' i Desenvolver e manter modelos Machine Learning em produo']
('P3_d_10 ', 'j Gerenciar a expectativa das áreas de negócio em relação as entregas das equipes de dados.') <class 'str'> 107 ['P3d10 ', ' j Gerenciar a expectativa das reas de negcio em relao as entregas das equipes de dados']
('P3_d_11 ', 'k Garantir a manutenção dos projetos e modelos em produção, em meio ao crescimento da empresa.') <class 'str'> 110 ['P3d11 ', ' k Garantir a manuteno dos projetos e modelos em produo', ' em meio ao crescimento da empresa']
('P3_d_12 ', 'Conseguir levar inovação para a empresa através dos dados.') <class 'str'> 74 ['P3d12 ', ' Conseguir levar inovao para a empresa atravs dos dados']
('P3_d_13 ', 'Garantir retorno do investimento (ROI) em projetos de dados.') <class 'str'> 76 ['P3d13 ', ' Garantir retorno do investimento ROI em projetos de dados']
('P3_d_14 ', 'Dividir o tempo entre entregas técnicas e gestão.') <class 'str'> 65 ['P3d14 ', ' Dividir o tempo entre entregas tcnicas e gesto']
('P4_a ', 'Mesmo que esse não seja seu cargo formal, você considera que sua atuação no dia a dia, reflete alguma das opções listadas abaixo?') <class 'str'> 142 ['P4a ', ' Mesmo que esse no seja seu cargo formal', ' voc considera que sua atuao no dia a dia', ' reflete alguma das opes listadas abaixo']
('P4_a_1 ', 'Atuacao') <class 'str'> 22 ['P4a1 ', ' Atuacao']
('P4_b ', 'Quais das fontes de dados listadas você já analisou ou processou no trabalho?') <class 'str'> 90 ['P4b ', ' Quais das fontes de dados listadas voc j analisou ou processou no trabalho']
('P4_b_1 ', 'Dados relacionais (estruturados em bancos SQL)') <class 'str'> 61 ['P4b1 ', ' Dados relacionais estruturados em bancos SQL']
('P4_b_2 ', 'Dados armazenados em bancos NoSQL') <class 'str'> 48 ['P4b2 ', ' Dados armazenados em bancos NoSQL']
('P4_b_3 ', 'Imagens') <class 'str'> 22 ['P4b3 ', ' Imagens']
('P4_b_4 ', 'Textos/Documentos') <class 'str'> 32 ['P4b4 ', ' TextosDocumentos']
('P4_b_5 ', 'Vídeos') <class 'str'> 21 ['P4b5 ', ' Vdeos']
('P4_b_6 ', 'Áudios') <class 'str'> 21 ['P4b6 ', ' udios']
('P4_b_7 ', 'Planilhas') <class 'str'> 24 ['P4b7 ', ' Planilhas']
('P4_b_8 ', 'Dados georeferenciados') <class 'str'> 37 ['P4b8 ', ' Dados georeferenciados']
('P4_c ', 'Entre as fontes de dados listadas, quais você utiliza na maior parte do tempo?') <class 'str'> 91 ['P4c ', ' Entre as fontes de dados listadas', ' quais voc utiliza na maior parte do tempo']
('P4_c_1 ', 'Dados relacionais (estruturados em bancos SQL)') <class 'str'> 61 ['P4c1 ', ' Dados relacionais estruturados em bancos SQL']
('P4_c_2 ', 'Dados armazenados em bancos NoSQL') <class 'str'> 48 ['P4c2 ', ' Dados armazenados em bancos NoSQL']
('P4_c_3 ', 'Imagens') <class 'str'> 22 ['P4c3 ', ' Imagens']
('P4_c_4 ', 'Textos/Documentos') <class 'str'> 32 ['P4c4 ', ' TextosDocumentos']
('P4_c_5 ', 'Vídeos') <class 'str'> 21 ['P4c5 ', ' Vdeos']
('P4_c_6 ', 'Áudios') <class 'str'> 21 ['P4c6 ', ' udios']
('P4_c_7 ', 'Planilhas') <class 'str'> 24 ['P4c7 ', ' Planilhas']
('P4_c_8 ', 'Dados georeferenciados') <class 'str'> 37 ['P4c8 ', ' Dados georeferenciados']
('P4_d ', 'Quais das linguagens listadas abaixo você utiliza no trabalho?') <class 'str'> 75 ['P4d ', ' Quais das linguagens listadas abaixo voc utiliza no trabalho']
('P4_d_1 ', 'SQL') <class 'str'> 18 ['P4d1 ', ' SQL']
('P4_d_2 ', 'R ') <class 'str'> 17 ['P4d2 ', ' R']
('P4_d_3 ', 'Python') <class 'str'> 21 ['P4d3 ', ' Python']
('P4_d_4 ', 'C/C++/C#') <class 'str'> 23 ['P4d4 ', ' CCC']
('P4_d_5 ', '.NET') <class 'str'> 19 ['P4d5 ', ' NET']
('P4_d_6 ', 'Java') <class 'str'> 19 ['P4d6 ', ' Java']
('P4_d_7 ', 'Julia') <class 'str'> 20 ['P4d7 ', ' Julia']
('P4_d_8 ', 'SAS/Stata') <class 'str'> 24 ['P4d8 ', ' SASStata']
('P4_d_9 ', 'Visual Basic/VBA') <class 'str'> 31 ['P4d9 ', ' Visual BasicVBA']
('P4_d_10 ', 'Scala') <class 'str'> 21 ['P4d10 ', ' Scala']
('P4_d_11 ', 'Matlab') <class 'str'> 22 ['P4d11 ', ' Matlab']
('P4_d_12 ', 'PHP') <class 'str'> 19 ['P4d12 ', ' PHP']
('P4_d_13 ', 'Javascript') <class 'str'> 26 ['P4d13 ', ' Javascript']
('P4_d_14 ', 'Não utilizo nenhuma linguagem') <class 'str'> 45 ['P4d14 ', ' No utilizo nenhuma linguagem']
('P4_e ', 'Entre as linguagens listadas abaixo, qual é a que você mais utiliza no trabalho?') <class 'str'> 93 ['P4e ', ' Entre as linguagens listadas abaixo', ' qual  a que voc mais utiliza no trabalho']
('P4_f ', 'Entre as linguagens listadas abaixo, qual é a sua preferida?') <class 'str'> 73 ['P4f ', ' Entre as linguagens listadas abaixo', ' qual  a sua preferida']
('P4_g ', 'Quais dos bancos de dados/fontes de dados listados abaixo você utiliza no trabalho?') <class 'str'> 96 ['P4g ', ' Quais dos bancos de dadosfontes de dados listados abaixo voc utiliza no trabalho']
('P4_g_1 ', 'MySQL') <class 'str'> 20 ['P4g1 ', ' MySQL']
('P4_g_2 ', 'Oracle') <class 'str'> 21 ['P4g2 ', ' Oracle']
('P4_g_3 ', 'SQL SERVER') <class 'str'> 25 ['P4g3 ', ' SQL SERVER']
('P4_f_4 ', 'Amazon Aurora ou RDS') <class 'str'> 35 ['P4f4 ', ' Amazon Aurora ou RDS']
('P4_f_5 ', 'DynamoDB') <class 'str'> 23 ['P4f5 ', ' DynamoDB']
('P4_f_6 ', 'CoachDB') <class 'str'> 22 ['P4f6 ', ' CoachDB']
('P4_f_7 ', 'Cassandra') <class 'str'> 24 ['P4f7 ', ' Cassandra']
('P4_f_8 ', 'MongoDB') <class 'str'> 22 ['P4f8 ', ' MongoDB']
('P4_f_9 ', 'MariaDB') <class 'str'> 22 ['P4f9 ', ' MariaDB']
('P4_f_10 ', 'Datomic') <class 'str'> 23 ['P4f10 ', ' Datomic']
('P4_f_11 ', 'S3') <class 'str'> 18 ['P4f11 ', ' S3']
('P4_f_12 ', 'PostgreSQL') <class 'str'> 26 ['P4f12 ', ' PostgreSQL']
('P4_f_13 ', 'ElasticSearch') <class 'str'> 29 ['P4f13 ', ' ElasticSearch']
('P4_f_14 ', 'DB2') <class 'str'> 19 ['P4f14 ', ' DB2']
('P4_f_15 ', 'Microsoft Access') <class 'str'> 32 ['P4f15 ', ' Microsoft Access']
('P4_f_16 ', 'SQLite') <class 'str'> 22 ['P4f16 ', ' SQLite']
('P4_f_17 ', 'Sybase') <class 'str'> 22 ['P4f17 ', ' Sybase']
('P4_f_18 ', 'Firebase') <class 'str'> 24 ['P4f18 ', ' Firebase']
('P4_f_19 ', 'Vertica') <class 'str'> 23 ['P4f19 ', ' Vertica']
('P4_f_20 ', 'Redis') <class 'str'> 21 ['P4f20 ', ' Redis']
('P4_f_21 ', 'Neo4J') <class 'str'> 21 ['P4f21 ', ' Neo4J']
('P4_f_22 ', 'Google BigQuery') <class 'str'> 31 ['P4f22 ', ' Google BigQuery']
('P4_f_23 ', 'Google Firestore') <class 'str'> 32 ['P4f23 ', ' Google Firestore']
('P4_f_24 ', 'Amazon Redshift') <class 'str'> 31 ['P4f24 ', ' Amazon Redshift']
('P4_f_25 ', 'Amazon Athena') <class 'str'> 29 ['P4f25 ', ' Amazon Athena']
('P4_f_26 ', 'Snowflake') <class 'str'> 25 ['P4f26 ', ' Snowflake']
('P4_f_27 ', 'Databricks') <class 'str'> 26 ['P4f27 ', ' Databricks']
('P4_f_28 ', 'HBase') <class 'str'> 21 ['P4f28 ', ' HBase']
('P4_f_29 ', 'Presto') <class 'str'> 22 ['P4f29 ', ' Presto']
('P4_f_30 ', 'Splunk') <class 'str'> 22 ['P4f30 ', ' Splunk']
('P4_f_31 ', 'SAP HANA') <class 'str'> 24 ['P4f31 ', ' SAP HANA']
('P4_f_32 ', 'Hive') <class 'str'> 20 ['P4f32 ', ' Hive']
('P4_f_33 ', 'Firebird') <class 'str'> 24 ['P4f33 ', ' Firebird']
('P4_g ', 'Quais das opções de Cloud listadas abaixo você utiliza no trabalho?') <class 'str'> 80 ['P4g ', ' Quais das opes de Cloud listadas abaixo voc utiliza no trabalho']
('P4_h ', 'Dentre as opções listadas, qual sua Cloud preferida?') <class 'str'> 65 ['P4h ', ' Dentre as opes listadas', ' qual sua Cloud preferida']
('P4_h_1 ', 'Azure (Microsoft)') <class 'str'> 32 ['P4h1 ', ' Azure Microsoft']
('P4_h_2 ', 'Amazon Web Services (AWS)') <class 'str'> 40 ['P4h2 ', ' Amazon Web Services AWS']
('P4_h_3 ', 'Google Cloud (GCP)') <class 'str'> 33 ['P4h3 ', ' Google Cloud GCP']
('P4_i ', 'Microsoft PowerBI') <class 'str'> 30 ['P4i ', ' Microsoft PowerBI']
('P4_i_1 ', 'Microsoft PowerBI') <class 'str'> 32 ['P4i1 ', ' Microsoft PowerBI']
('P4_i_2 ', 'Qlik View/Qlik Sense') <class 'str'> 35 ['P4i2 ', ' Qlik ViewQlik Sense']
('P4_i_3 ', 'Tableau') <class 'str'> 22 ['P4i3 ', ' Tableau']
('P4_i_4 ', 'Metabase') <class 'str'> 23 ['P4i4 ', ' Metabase']
('P4_i_5 ', 'Superset') <class 'str'> 23 ['P4i5 ', ' Superset']
('P4_i_6 ', 'Redash') <class 'str'> 21 ['P4i6 ', ' Redash']
('P4_i_7 ', 'MicroStrategy') <class 'str'> 28 ['P4i7 ', ' MicroStrategy']
('P4_i_8 ', 'IBM Analytics/Cognos') <class 'str'> 35 ['P4i8 ', ' IBM AnalyticsCognos']
('P4_i_9 ', 'SAP Business Objects') <class 'str'> 35 ['P4i9 ', ' SAP Business Objects']
('P4_i_10 ', 'Oracle Business Intelligence') <class 'str'> 44 ['P4i10 ', ' Oracle Business Intelligence']